@import "../../global/styles/variables.scss";


.channels-section {
    font-family: $primaryType;
    padding: $sectionSpacing 0;

    h2 {
        text-align: center;
        font-size: $sectionTitle;
        margin-bottom: $margin2x;
        text-transform: uppercase;
    }

    .channels-content {
        margin: $margin2x 0;
        display: grid;
        grid-template-columns:2fr 2fr;
        // display: flex;
        justify-content: space-between;
        // align-items: center;

        .card-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 3rem;
            text-align: center;
            border-radius: 10px;

            &:hover {
                box-shadow: 4px 4px 20px rgb(0 0 0 / 10%);
            }

            .card-img {
                width: 30%;
            }

            .card-title {
                font-family: $primaryType;
                font-weight: $semiBold;
                font-size: $cardTitle;
                margin: $margin1x 0;
                color: $neutralBlack;
            }

            .card-description {
                font-family: $secondaryType;
                font-size: $cardPara;
            }
        }
    }

}