@import "../../global/styles/variables.scss";


.channels-section {
    font-family: $primaryType;
    padding: $sectionSpacing 0;

    h2 {
        text-align: center;
        font-size: $sectionTitle;
        margin-bottom: $margin2x;
        text-transform: uppercase;
    }

    .channels-content {
        margin: $margin2x 0;
        display: grid;
        grid-template-columns:2fr 2fr;
        // display: flex;
        justify-content: space-between;
        // align-items: center;

       
    }

}