@import "../../global/styles/variables.scss";


.input-container {
    font-family: $primary;
    margin: $margin2x 0;
    label {
        display: block;
        font-size: $default;
        font-weight: bold;
        margin-bottom: $marginhalfx;  
    }

    input, textarea {
        width: 100%;
        padding: .4rem;
        border: 2px solid $neutralGray;
        outline: none;
        font-size: $default;
        font-family: $secondaryType;
        font-weight: $light;
        border-radius: 5px;
    }


    textarea {
        resize: none;
    }

}