


// colors
$primary: #1995ad; 
$primaryRed: #ff420e;
$neutralWhite: #ffffff;
$neutralBlack: #262626;
$neutralGray: #F2F2F2;



// font types
$primaryType: Raleway; // sans-serif
$secondaryType: Lato; // sans-serif

// font weights
$regular: 400;
$semiBold: 600;
$bold: 800;


// spacing
$sectionSpacing: 4rem;
$margin2x: 2rem;
$margin1halfx: 1.5rem;


// font sizing
$sectionTitle: 1.8rem;
$sectionSubTitle: 1.5rem;
$sectionPara: 1rem;




// screen sizes
$desktopMedium: 1200px;
$desktopSmall: 900px;
$mobile: 800px;
$mobileMedium: 600px;