


// colors
$primary: #1995ad; 
$primaryRed: #ff420e;
$neutralWhite: #ffffff;
$neutralBlack: #262626;



// font types
$primaryType: Raleway; // sans-serif
$secondaryType: Lato; // sans-serif

// font weights
$regular: 400;
$semiBold: 600;
$bold: 800;



// screen sizes
$desktopMedium: 1200px;
$desktopSmall: 900px;
$mobile: 800px;
$mobileMedium: 600px;