@import "../../global/styles/variables.scss";


.contact-form {
    
    .submit-container {
        button {
            width: 100%;
            border: none;
            font-family: $primaryType;
            padding: 1rem;
            font-weight: bold;
            font-size: $default;
            background-color: $primary;
            color: $neutralWhite;
        }

        .submit-btn {
            cursor: pointer;
        }
    }
}