@import "../../global/styles/variables.scss";


.contact-section {
    font-family: $primaryType;
    padding: $sectionSpacing 0;

    h2 {
        text-align: center;
        font-size: $sectionTitle;
        margin-bottom: $margin2x;
        text-transform: uppercase;
    }

  

}