@import "../../global/styles/variables.scss";


.contact-section {
    font-family: $primaryType;
    padding: $sectionSpacing 0;

    h2 {
        text-align: center;
        font-size: $sectionTitle;
        margin-bottom: $margin2x;
        text-transform: uppercase;
    }

    .contact-content {
        display: flex;
        justify-content: space-between;
    }


    .company-name {
        color: $primary;
        font-weight: $semiBold;
        font-size: $sectionSubTitle;
        margin-bottom: $margin1halfx;
    }

    .address {
        color: $neutralBlack;
        font-weight: $regular;
        font-size: $sectionPara;
    }

  

}